  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    color: #f5f5f5;
    padding: 1rem;
}

header {
    background: rgb(6, 168, 60);
    background: linear-gradient(90deg, rgba(6, 168, 60, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
}

li {
    width: calc((100% / 4) - 1rem);
    border: solid 1px #a8a8a8;
    text-align: center;
    margin-bottom: 1rem;
}

li img {
    width: 100%;
}

.is-alive, 
.is-dead {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    padding: 2px 4px;
}

.is-alive span, 
.is-dead span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.is-alive span {
    background: rgb(0, 196, 0);
}

.is-dead span {
    background: rgb(246, 0, 0);
}

.is-alive{
    background-color: #0dff008a
}

.is-dead{
    background-color: rgba(255, 0, 0, 0.635)
}